[2014-04-29 07:51] jonschlinkert opened #3 "update plugins in test dir to assemble v0.5.0"

[2014-04-29 07:52] jonschlinkert opened #4 "update helpers in test dir to be compatible with assemble v0.5.0"

[2014-04-29 07:52] #4 closed, assigned to nobody

[2014-05-02 23:22] ain opened #5 "data option not considered"
I accidentally used [grunt-assemble](https://github.com/assemble/grunt-assemble) instead of [assemble](https://github.com/assemble/assemble) and noticed setting `data` option has no effect as it does in assemble.

[2014-05-03 00:08] #5 closed, assigned to nobody

[2014-06-02 22:10] adamwong246 opened #7 "missing helpers"
I can't get a lot of helpers to work, namely ```relative```

[code]
returns
[code]

EDIT:
[code]
[code]

[2014-06-03 21:18] adamwong246 opened #8 "feature request: Jade templates"
Handlebars are great and all, I guess but I'd rather just plop some js down in my templates  rather than deal with the overhead of handlebars helpers. Is handlebars welded into assemble or is there room for other engines?

[2014-12-01 13:56] ijdickinson opened #9 "Module not found problem"
I'm trying to run a Gruntfile that I got working on one machine on another (very similar) machine, but getting a 'module not found' problem in the grunt-assemble task. I don't know that this is an issue with grunt-assemble per se, but any insights you might have would be very welcome.

Rather than duplicate the problem description here, here's a [link to the StackOverflow write-up](http://stackove

[2015-02-17 20:48] pedrobjorn opened #10 "Grunt assemble build hangs"
I am unsure why, this only happened to me on Win7 x64, ruby 1.93, with the exact same process as on an OSX, where it worked perfectly.

Basically the assemble task created using "yo assemble" hangs on "assemble:pages".
Removing the following from plugins fixed the issue:

 'assemble-contrib-anchors'

Unsure why, but either way, hope this is the right place for this.

[2015-03-28 13:33] brunowego commented on #8
+1

[2015-03-28 13:33] brunowego commented on #3
:+1:

[2015-03-29 13:54] jonschlinkert commented on #8
closing in light of the pending release of assemble v0.6.0.

here's how to register an engine in v0.6.0:

[code]

[2015-03-29 13:54] #8 closed

[2015-04-04 00:14] ryanve opened #11 "Add `.preprocess` option"
There's already the `.postprocess` option and it would be super useful to have `.preprocess` too.

[2015-04-04 01:31] jonschlinkert commented on #11
I thought there was a `preprocess` option in assemble v0.4.x, but I guess we didn't implement it or took it out. I might be wrong. If not, it's unlikely that we'll implement it with assemble v0.4.x since we're focused on v0.6.x atm.

Once we get this updated to 0.6, this is taken care of with either a plugin that runs after render, or a `.postRender()` middleware.

I'll keep this open until we mak

[2015-04-04 23:16] ryanve commented on #11
@jonschlinkert Thanks for the fast reply!

[2015-04-10 18:53] briantjacobs opened #12 "Upgrading to Assemble 0.6.0"
When installing this via npm I managed to miss the "not ready for use" bit. Oops. But now that it's installed, working great my Grunt setup, Assemble 0.6.0 looks useful. Can you recommend a way I could update Assemble to that version before I try something irresponsible?

[2015-04-10 19:01] jonschlinkert commented on #12
Upgrade the grunt plugin to work with Assemble v0.6.0? We haven't even begun work on that yet. My recommendation would be to use v0.6.0 directly (without grunt or gulp). It's much more powerful

[2015-04-10 21:21] briantjacobs commented on #12
Cool. In that case I'll just stick with the version of Assemble in the grunt-assemble plugin, as the grunt integration is pretty important for me right now. Thanks for the reply.

[2015-04-10 21:55] jonschlinkert commented on #12
yeah, no problem. we do plan to update the plugin. we'll updated this when we do

[2015-04-16 17:26] brunowego commented on #12
+1

[2015-04-17 06:55] amazingSurge commented on #12
Waiting for this update. thanks in advance.

[2015-04-17 12:00] andrexbass commented on #12
+1

[2015-04-17 12:04] tiagovtg commented on #12
+1

[2015-04-17 14:29] #3 closed

[2015-04-28 15:46] foxx opened #13 "Loading "assemble.js" tasks...ERROR >> Error: Cannot find module 'grunt'"
Possibly related to a similar issue seen [here][1].

[code]

It seems to be that you are doing the following;

[code]

However every other module I've seen does not do this, instead they use tasks with a variable passed in, as seen in their official [docs][2].

Here are my versions;

[code]

[1]: https://github.com/jmreidy/grunt-browserify/issues/325
[2]: https://github.com/gruntjs/grunt-init-grun

[2015-04-28 15:52] foxx commented on #13
It would seem this problem is being caused by `grunt-assemble` being completely unsupported and not ready for use yet. This is unclear, apart from a small obscure bit of text in the description. Can you please add a BIG WARNING onto the README that states this is not ready for use yet. The existing warning means nothing.

[2015-04-28 16:02] doowb commented on #13
@foxx `grunt-assemble@0.2.0` is the same code as `assemble@0.4.42`. We pulled it over in an attempt to follow the `grunt-*` pattern for grunt plugins. `assemble@0.6.0` is completely detached from grunt, but is still only published as beta on npm.

The description needs to be updated since that was intended for `grunt-assemble < 0.2.0` when we were trying to wrap the new version of assemble.

With

[2015-04-28 16:08] foxx commented on #13
Thanks for the quick reply, I can confirm that I'm still getting the problem;

Gruntfile.js:
[code]

I also tried;

[code]

Both result in;

[code]

package.json
[code]

[2015-04-28 16:12] jonschlinkert commented on #13
Did you read the error messages?

[2015-04-28 16:15] jonschlinkert commented on #13
we can add one that says you're not read to use it if you want. but the other 490,000 users haven't created this issue.

[2015-04-28 16:18] foxx commented on #13
Yes I did read the error message, but grunt is installed and there. I don't understand why you have given a sarcastic response tbh.

[2015-04-28 16:18] jonschlinkert commented on #13
because you were rude and hyperbolistic in your message

[2015-04-28 16:18] #13 closed

[2015-04-28 16:19] jonschlinkert commented on #13
want better support, be nice

[2015-04-28 16:22] foxx opened #14 "Completely uncalled for"
Follow up from [here][1].

Nice passive agressive approach of blocking the thread. I'm not asking for support, I was trying to raise a bug report so other users didn't have to deal with this problem in the future. I don't know what your deal is, but this is still a valid bug. Either way, I'm giving up on this library, but seriously, this isn't how you maintain an open source project. You should fi

[2015-04-28 16:22] #14 closed

[2015-04-28 16:23] jonschlinkert commented on #14
please stop making rude comments on the assemble issues

[2015-04-28 16:25] foxx opened #15 "blocked"
.

[2015-04-28 16:32] jonschlinkert commented on #15
@foxx please don't comment on assemble issues anymore.

[2015-05-11 11:28] MarkySparky opened #16 "Custom delimeters for gray matter"
Custom YAML delimeter in a task?

Something like...
[code]

I see that gray-matter supports this, but I cant find a way to pass these options through using griunt-assemble.

Many thanks
Mark

[2015-05-11 17:33] jonschlinkert commented on #16
there are three places where gray-matter is called, we'll need to allow an options argument to be passed to each:

- https://github.com/assemble/grunt-assemble/blob/05005ed6975bcc9f3b4476b0e9beeb82eb5d14c5/tasks/assemble.js#L121
- https://github.com/assemble/grunt-assemble/blob/05005ed6975bcc9f3b4476b0e9beeb82eb5d14c5/tasks/assemble.js#L283
- https://github.com/assemble/grunt-assemble/blob/05005ed

[2015-05-11 22:55] #16 closed

[2015-05-11 22:55] #15 closed

[2015-05-13 01:56] jonschlinkert opened #18 "handlebars"
Just wanted to cross-link this issue in case anyone has handlebars problems. https://github.com/assemble/assemble-handlebars/issues/29#issuecomment-101480822.

In a nutshell:
- use `grunt-assemble` in your gruntfile, not `assemble`
- make sure you have the latest version.

sorry for any confusion!

[2015-05-13 18:18] jonschlinkert opened #19 "Building a HB template with `$CLASS$` text fails"
moved from https://github.com/assemble/assemble/issues/580#issuecomment-101763972

[2015-05-13 18:22] knight-dj-et commented on #19
https://github.com/assemble/grunt-assemble/blob/master/tasks/assemble.js#L700

1 line change

change `layout.replace(assemble.engine.bodyRegex, body);` to `layout.replace(assemble.engine.bodyRegex, body.replace("$", "$$$$"));`

[2015-05-13 18:59] doowb commented on #19
@jonschlinkert's solution with `.split().join()` is probably a better way to go. The other way is to use `function () { return body; }` instead of `body`, but I think Jon's benchmarked the split/join and it's usually faster, right?

@knight-dj-et if you'd like to do a PR, that'd be awesome!

[2015-05-13 20:13] jonschlinkert commented on #19
well, it's not about faster here. it's only useful if we want to replace multiple occurrences of `body`, which I 'm almost positive we were doing - at least at one point. I remember the pr that added that. If not, then we can't do split.

[2015-05-13 20:13] jonschlinkert commented on #19
but yes, it's also considerably faster

[2015-05-13 20:17] jonschlinkert commented on #19
wait, why would we do `layout.replace(assemble.engine.bodyRegex, body.replace("$", "$$$$"));`. that will arbitrarily replace the first `$` character anywhere in the body string with `$$$$`.

[2015-05-13 20:22] knight-dj-et commented on #19
Oh. I suppose I did it too broadly.  It should replace any $ followed by a $, ', `, & or number with "$$" (which has to be passed as "$$$$" since this is using replace which will still treat the $ as special characters)

[2015-05-13 20:32] jonschlinkert commented on #19
we would need to do something like this:

[code]

[2015-05-13 20:35] jonschlinkert commented on #19
the other alternative is to just do split/join on the actual body tag. IMO that's a better way to go. since : 1) a user would expect any tag to yield the same result if it was used more than once in a string, 2) it would only do the split/join operation once, whereas the escaping approach ends up doing it three times (including `.replace()`)

[2015-05-13 20:40] doowb commented on #19
All we need to do is `layout.replace(assemble.engine.bodyRegex, function () { return body; });`

[2015-05-13 20:42] jonschlinkert commented on #19
^

[2015-05-13 20:43] jonschlinkert commented on #19
@doowb you said that earlier and I missed the function part of the replacement...

[2015-05-13 21:19] doowb commented on #19
fixed in `grunt-assemble@0.3.1`

[2015-05-13 21:19] #19 closed

[2015-05-27 13:54] DenisMir commented on #12
Waiting for the grunt plugin as well.

[2015-06-09 22:55] floriangosse commented on #12
We use grunt for our complex build process and want to use it in the future too. Is a branch available where the integration for assemble 0.6.0 is developed?

[2015-06-09 23:00] jonschlinkert commented on #12
no, but @doowb and I have been talking a lot about this lately. we both want to get this implemented be we've been crunched on time lately so we're trying to stay focused on assemble and docs

[2015-06-09 23:02] jonschlinkert commented on #12
actually, I just remembered I started working on this a couple weeks ago, I might be able to finish it up quickly. I'll report back when I have a chance to look. feel free to ping me if you don't hear from me for a couple days!

[2015-06-10 12:54] gunnx commented on #12
Is that "not ready for use" comment still valid? People seem to be using /assemble/grunt-assemble instead of assemble/assemble. I would like to use assemble with handlebars 3.x, is this the best version to use or install assemble0.6 instead.

[2015-06-10 13:00] DenisMir commented on #12
@gunnx Start using grunt-assemble. You will get version 4.x of assemble but with handlebars 3.x support.

[2015-06-10 14:48] doowb commented on #9
This issue should be resolved with the latest `grunt-assemble`. If not, please reopen.

[2015-06-10 14:48] #9 closed

[2015-06-10 14:49] doowb commented on #7
This issue should be resolved with the latest `grunt-assemble`. Please reopen if there's still a problem.

[2015-06-10 14:49] #7 closed

[2015-07-07 19:23] gionkunz opened #22 "Issues with @key, @index, @first etc. in grunt-assemble using assemble-handlebars 0.3.0"
Hi @jonschlinkert

Today we've discovered that `@key` and also all other `@` properties in handlebars don't work in the current version of `grunt-assemble`. It looks like `assemble 0.4.42` is using `assemble-handlebars 0.2.4` (that is relying on Handlebars 1.3) where those properties work but with `grunt-assemble > assemble-handlebars@0.3 > Handlebars 3.0.3` `@key` and other properties within the

[2015-07-07 21:52] jonschlinkert commented on #22
@doowb did you answer an issue about this recently?

[2015-07-07 23:46] doowb commented on #22
I don't think so. I know I've seen some other issues created about this, but I thought that it was fixed by moving to Handlebars 3.

[2015-07-07 23:53] jonschlinkert commented on #22
yeah, same here. hmm, we'll need to look into this a little more deeply.

fwiw this kind of issue with handlebars versions is the primary thing that has made me hesitant to merge in the 0.6 branch on handlebars-helpers.

[2015-08-11 16:46] Josh68 opened #23 "Page being assembled before handlebars can finish iterating over large dataset"
(Moved from assemble repo, per maintainer request)

This may be a strictly handlebars issue, not sure, but I've just spent a lot of time debugging the rendering of an iterated block (each) that was preventing the portion of my page below that block from being rendered. I kept inspecting the data (valid JSON) for issues until I realized it just came down to the number of iterations that was the iss

[2015-08-12 16:51] partnuz opened #24 "can partials decouple data from view"
First of all thank you for your work. I have a question. Let's say we have this code in list.hbs

    <ul>
    {{#each data }}
     <li class="{{class}}">{{content}}</li>
    {{\each}}
    </ul>

I want to use it somewhere else using this code

    {{#each concrete_data }}
    {{>list}}
    {{\each}}

Is this possible ?

[2015-08-12 19:12] jonschlinkert commented on #24
absolutely. this is handlebars syntax though, so you'll want to read up on scope and how context works in  blocks/loops. http://handlebarsjs.com/

[2015-08-24 19:06] #24 closed

[2015-08-26 22:52] MichielDeMey opened #25 "Markdown rendering bug"
Hey guys, I'd like to report a strange issue with markdown rendering.
This is most likely a bug in the markdown renderer that you use, however I could not find which one.

The following bug is observed:
[code]

output:

[code]

The first header is rendered in html as an `h1`, however the second header inside the section tags is ignored and outputted literally.

I'm including the content as suggest

[2015-09-01 17:48] MichielDeMey commented on #25
Apparently it's a known issue with Marked.
https://github.com/chjj/marked/issues/488

[2015-09-10 21:29] lacostenycoder opened #26 "LiveReload not working with Grunt Serve"
It seems to be working but requires the browser to manual refresh.

[2015-09-11 02:50] #26 closed

[2015-09-27 08:07] StephanGerbeth opened #27 "grunt-assemble + grunt-webpack = lost plugin definition in webpack configuration"
Hi,

i have a strange bug when i run grunt-assemble and grunt-webpack in the same task.

I try to explain it:
- I registered an own task by `grunt.registerTask('build', ['assemble', 'webpack']);`
- the task abort with the following message `Running "webpack:app" (webpack) task
Warning: arguments[i].apply is not a function Use --force to continue.`
- At first i thought: "Uh there is bug in webpack,

[2015-09-27 09:10] StephanGerbeth commented on #27
UPDATE:
I can isolate the bug inside the aggregate helper.
if i remove this helper inside my project everything works fine.
Should i move this issue to the helper-aggregate git repo?

[2015-09-27 22:57] jonschlinkert commented on #27
Yes, that would be great. thanks. closing here

[2015-09-27 22:57] #27 closed

[2015-10-11 18:06] gearboxdesign opened #28 "Passing an object into data property causes an error."
Hi all,

According to the docs you are able to pass in an object directly into the data attribute, each time I try I seem to get the error:

Warning: undefined is not a function...

Snippet:

[code]

Whilst usually I would just pass in a data file in, I have a very specific case in which I need to pass in an object on this occasion.

Any help would be much appreciated...

[2015-10-12 13:29] tobiasharth opened #29 "build only changed files with grunt-newer dosen't work"
Hey there,

i will use Assemble like the description on the [installation-site](http://assemble.io/docs/Installation.html#add-grunt-newer-to-speed-up-builds) with the grunt-newer task, but it build always the whole page with 1000+ pages.

My Assemble task in the Gruntfile:
[code]

The content tree is like:
[code]

What is wronge? Do you support grunt-newer with single changed files? Is there a fai

[2015-10-12 15:57] doowb commented on #28
Hi @gearboxdesign, which version of `grunt-assemble` are you using?

[2015-10-12 16:38] jonschlinkert commented on #28
also, is that `data` object in a json file? or is it in the grunt config? if it's in a file, what is the name of the file? If you're using it in `data.json`, then you might be loading that object onto `data.data.test` etc...

[2015-10-12 17:25] gearboxdesign commented on #28
Hi guys thanks for the responses, I am currently using 0.4.0, it is in the grunt config, ok so a more complete example, do let me know if I'm going about this a ridiculous way!

So I need to generate a series of index pages which contain links to each files / directories which sit underneath them in a site structure, essentially exactly what a standard server generated index would do.

So I have a

[2015-10-12 17:49] gearboxdesign commented on #28
Digging a little deeper it would seem that lib/assemble.js line 43 forces any data passed into an array which by the time it reaches tasks/assemble.js line 55 it is assumed the contents are file globs and passing the object through file.expand seems to cause the error... am I trying to do something it simply can't do here?

[2015-10-16 08:56] blomeyer commented on #29
Hey there,

grunt-newer works and only runs the assemble task if a file has changed but I guess assemble is designed to always build all the pages. So it will only run if there have been changes but then it will build everything. It would be great though if this could be implemented since it would speed up a continuous build process by a great amount.

Cheers,
Daniel

[2015-10-16 08:59] blomeyer commented on #22
I moved from standard assemble to grunt-assemble version 0.4.0 in my grunt build process and can confirm that @index, @key, @first and @last do not work in the current version. After going back to standard assemble 0.4.42 everything works fine. Maybe that helps.

Cheers,
Daniel

[2015-10-27 15:25] ttwhy commented on #22
i could confirm this bug, too. As far as we found out there is no @index etc injected into the context. A "log @index" will return a "undefined".

[2015-11-10 05:06] bchavezgd commented on #25
that's an issue with markdown itself. you can't put html inside markdown inside html, it won't render.

(see original reason)[https://daringfireball.net/projects/markdown/syntax#html]

[2015-11-10 05:48] jonschlinkert commented on #25
yeah that's correct. Also, I think the markdown helpers in grunt-assemble use marked (from the handlebars-helpers lib), which does not follow commonmark spec.

Also fwiw in the 0.6. branch of handlebars-helpers, the markdown helpers were updated to use [remarkable](https://github.com/jonschlinkert/remarkable), a much better markdown parser that follows commonmark.

closing since this isn't really

[2015-11-10 05:48] #25 closed

[2015-11-12 20:50] gunnx commented on #22
I just switched over to grunt-assembe@0.4.0 from assemble@0.4.42 and have noticed this as well, does any know a workaround with other existing helpers?

[2015-11-22 18:56] jonschlinkert opened #31 "error: handlebars does not support render"
If you're experiencing this issue. please add information about your build to this issue (please, don't create another issue)

[2015-11-22 18:56] jonschlinkert commented on #31
related https://github.com/assemble/assemble.io/issues/158

[2015-11-22 19:01] jonschlinkert commented on #31
@eurolife are you using something like `load-grunt-tasks` or `match-dep`?

[2015-11-22 19:06] eurolife commented on #31
Please bear with me, as I am quite new to this, but in my grunt file, there is grunt.registerTask and after that grunt.task.run which runs the specified tasks. There is also grunt.initConfig which defines all the tasks beforehand. Does that help or are you looking for something else?

[2015-11-22 19:16] jonschlinkert commented on #31
It's okay, I remember going through the same thing like it was yesterday lol. There is a lot to take in...

Could you add your entire gruntfile to a gist? https://gist.github.com/. If so that would be great, then just link it back here. If not, that's ok we can try to step through it

[2015-11-22 19:20] eurolife commented on #31
Here is a link to it https://gist.github.com/eurolife/8062a7170e9efe937798
Really appreciate you helping me with this!

[2015-11-22 19:40] jonschlinkert commented on #31
Hmm, nothings jumps out at me.

just thinking out loud so we can try to narrow the problem down:

- this shouldn't be needed: https://gist.github.com/eurolife/8062a7170e9efe937798#file-gruntfile-js-L27
- have you tried running assemble by itself? e.g. `grunt assemble`?
- does the issue always happen, or only when certain other tasks are run before or after? (usemin/wiredep have been the source of

[2015-11-22 19:44] jonschlinkert commented on #31
oh, I almost missed this. You mentioned that you're using `assemble` 0.4.x, correct? please try updating to `grunt-assemble` and see if that helps. make sure you:

- completely delete `node_modules` in your project
- remove `assemble` from package.json deps or devDeps
- then do `npm install grunt-assemble --save-dev`

let me know if that helps

[2015-11-22 20:06] eurolife commented on #31
Ok, I did what you said - I removed node_modules and also removed assemble from package.json and then installed grunt-assemble. After that I also had to do npm install otherwise grunt serve would not run. Unfortunately, I am still getting that same error after doing all of that.

[2015-11-22 20:07] eurolife commented on #31
fyi i did try running assemble by itself and got the same error.

[2015-11-22 20:36] jonschlinkert commented on #31
do you have any custom helpers? or are there any helpers that are included by the generator?

[2015-11-22 20:45] doowb commented on #31
@eurolife can you link to an entire repository or at least create a gist with the package.json? Also, will you post information your environment like OS, node and npm versions?

[2015-11-22 20:46] eurolife commented on #31
Do you mean helpers in handlebars? I didn't add any and don't know if the
generator did. If there is a place i should look for that, let me know.
On Nov 22, 2015 20:36, "Jon Schlinkert" <notifications@github.com> wrote:

[2015-11-22 20:47] eurolife commented on #31
I'm out the door now but will put my project up on github later and will
let you know. Thanks.
On Nov 22, 2015 20:45, "Brian Woodward" <notifications@github.com> wrote:

[2015-11-22 21:17] doowb commented on #31
I just figured it out. `yo-webapp` doesn't add a `version` to the `package.json`.

In `grunt-assemble`, we're using `assemble-handlebars` by default, which uses `handlebars-helpers`.
In the version of `handlebars-helpers` that's being used, we're using `to` for YAML formatting, which is using `handy` and trying to get the package.json version.

Since `grunt-assemble` attempts to first load `assemb

[2015-11-22 21:25] jonschlinkert commented on #31
indeed. great debugging @doowb!

[2015-11-22 22:24] jonschlinkert commented on #31
btw, should this be reported as a bug to handy, or `to` or somewhere else?

[2015-11-23 13:43] doowb commented on #31
Looks like @johnyb already tracked this down: https://github.com/assemble/handlebars-helpers/issues/199

He's opened issues on both `handy` and `to`.

[2015-11-23 13:55] johnyb commented on #31
Unfortunately, both projects seem to be dead. :skull: :\

[2015-11-23 17:52] jonschlinkert commented on #31
that's right I remember now, thanks @johnyb. seems like we should be able to do patches to fix this.

[2015-11-23 19:11] eurolife commented on #31
That worked! Thank you so much!

[2015-11-23 20:28] burtyish opened #32 "Multiple partials with same file name, in different directories"
I'm trying to migrate a large project to assemble. I have two partials named header.hbs, placed in different directories like this:
../partials/foo/header.hbs
../partials/bar/header.hbs

I've tried
[code]
but that fails with `Warning: The partial ny/header could not be found`

I can see in the verbose output that two partials with name `header` are created.
How can I reference a specific header pa

[2015-11-24 12:33] burtyish commented on #28
I ran into the same problem.
@jonschlinkert, I think the problem is that we were both using version 0.4.0 (the latest version on npm), where this feature was added only in v0.4.14:

  changes:
    - Adds support for plugins running once, before and after (thanks @adjohnson916).
    - Adds pagination!
    - Thanks to @xzyfer, `options.data` can now also directly accept an object of data.

See https

[2015-11-24 19:52] doowb commented on #32
`grunt-assemble` will only use the `basename` of the partial's filepath.

There is a [registerPartial](https://github.com/assemble/grunt-assemble/blob/master/tasks/assemble.js#L50-L51) option that can be a function that gets the `engine` (handlebars), `filename`, and `content` properties.

This won't really help you here because `filename` will always be `header`.

Since we moved the original asse

[2015-11-25 08:49] burtyish commented on #28
Oh, so 0.4.41 refers to a release of the original assemble library, right? I'm confused 😕

[2015-11-25 08:50] burtyish commented on #32
I see.
Thank you for the prompt reply.

[2015-11-25 09:39] jonschlinkert commented on #28
The changelog is wrong. this library is `grunt-assemble`. if you do `npm install grunt-assemble`, that will give you the latest version.

[2015-11-25 09:45] burtyish commented on #28
Thanks for clearing that up

[2015-11-25 09:47] jonschlinkert commented on #28
no prob sorry for the confusion

[2015-11-25 17:32] Regaddi commented on #22
Same problem for me.
grunt-assemble 0.3.1
assemble-handlebars 0.3.0

[2015-12-15 01:43] bjankord commented on #12
I'm running into this [exact issue](https://github.com/assemble/assemble/issues/781). It has been marked as fixed in 0.6.0 so I'm looking forward to grunt-assemble getting updated.

[2015-12-15 03:04] jonschlinkert commented on #12
Closing since this isn't really an issue and based on age. If you have handlebars, or grunt-assemble related issues, it's best to discuss those on the grunt-assemble repo or handlebars-helpers, or the repo that is most related.

[2015-12-15 03:04] #12 closed

[2015-12-15 03:05] jonschlinkert commented on #12
.. unless it is related to grunt-assemble, in which case we should create a new issue for it

[2015-12-17 11:17] funkage opened #33 "Build callback in grunt"
*Moved over from (assemble/assemble) [https://github.com/assemble/assemble]. Sorry about that, @jonschlinkert*

Hello guys, I've been search high and low for reference on this but to no avail, thus my presence here.

**Background**
I'm running multiple assemble targets and would like to add a callback that copies a folder of assets (CSS, JS, etc) to the destination directory every time a target bu

[2015-12-17 11:27] jonschlinkert commented on #33
no worries!

Unless I'm missing something, I think you just need to define tasks for that:

[code]

If this isn't what you mean, perhaps take a look at the [creating tasks](http://gruntjs.com/creating-tasks) page on the grunt docs. hope this helps.

(closing though since we try to keep issues focused on bugs and feature requests)

[2015-12-17 11:27] #33 closed

[2015-12-17 11:34] funkage commented on #33
Ah, I was looking for something more dynamic:

[code]

... because we may end up with 60 assemble targets, but if there isn't an option that's as dynamic, I'll look into what you're recommending. Thanks @jonschlinkert!

[2015-12-17 11:51] brunowego opened #34 "Change delimiters"
Have a way to change native delimiters? I wish use with Angular.

[code]

Replace to:

[code]

[Ref.](https://github.com/assemble/assemble/issues/785)

[2016-01-02 10:08] yongtw123 commented on #22
Same problem here. While I can use Assemble's forEach helper, it seems to fail when used inside a native each helper.
grunt-assemble 0.4.0
assemble-handlebars 0.3.0

[2016-01-02 13:27] yongtw123 commented on #22
I tracked down this issue and I believe it's due to how grunt-assemble passes options into Handlebars. In Handlebars `compiler.js` line 469, the `data` property is set by default to `true` if `'data'` property does **not** exist in `options`. However in grunt-assemble's `assemble.js` (line 589), `context.data` exists, but its final value is `undefined`, meaning that Handlebars will not create data

[2016-01-13 08:33] grouchal opened #35 "support for assemble 0.7.x"
Any idea when this is coming

[2016-01-14 17:47] travellingprog opened #36 "Reword Warning on README.md, encourage grunt-assemble over assemble 0.4.42"
The [README warning](https://github.com/assemble/grunt-assemble#warning) makes it sound like using grunt-assemble is equivalent to running assemble 0.4.42.

However, the reality is that anyone running assemble v0.4.42 could benefit from running the current version of grunt-assemble instead. For example, this module uses Handlebars v3 rather than Handlebars v1 (used by assemble v0.4.42).

[2016-01-15 14:41] LaurentGoderre opened #37 "Specifying a cwd to not include the path to the hbs files in the output path fails"
To build my source in `src/index.hbs` so that it builds in `dist/index.html` and not `dist/src/index.html` I used cwd to go into src which is valid grunt, however, assemble returns the following error: `Fatal error: Unable to read "index.hbs" file (Error code: ENOENT).`

[2016-01-15 15:11] LaurentGoderre commented on #37
Nevermind...I'm a moron.....I keep forgetting to add `expand: true`

[2016-01-15 15:11] #37 closed

[2016-01-15 15:41] jonschlinkert commented on #37
lol it's easy to forget. I do stuff like that all the time

[2016-01-20 19:11] kkashou opened #38 "Generate current working file?"
Is there a way to bypass grunt assemble to generate every single page but instead just generate the file that I currently working on?

Thanks

[2016-01-20 19:33] kkashou commented on #38
- Version of assemble is 0.2.1
- https://gist.github.com/kkashou/b4fd4c7a591124860f32
- The command line just list out the generated pages.
- I was hoping that it only generates the page I am working on not the entire site.

[2016-01-20 20:10] doowb commented on #38
`grunt-assemble` isn't setup to handle incremental builds. The main reason is that there are features that rely on having all of the pages in memory during rendering.

You can try [grunt-newer](https://github.com/tschaub/grunt-newer) to see if that works for your build.

[2016-01-20 23:44] kkashou commented on #38
That worked thank you!

[2016-01-20 23:44] #38 closed

[2016-02-04 20:42] ashleynolan commented on #35
+1 on this.

I use Assemble on both Grunt and Gulp projects, and would like to keep them in sync if possible (having already moved onto 0.7 by using Assemble direct with Gulp).

Any idea when this is likely to be updated?

[2016-02-04 22:02] jonschlinkert commented on #35
already started work on it. Not sure how long it will take, I'll let you know as soon as I or @doowb make more progress

[2016-02-05 07:55] ashleynolan commented on #35
Great – thanks for the update :+1:

[2016-02-10 02:31] caraya opened #39 "Build fails: (Unexpected token <)"
I'm getting different errors when trying to build a site using **grunt-assemble 0.4.0**

When I run `grunt --foce --verbose` I get the following errors:

[code]

but when I just run `grunt` with a default target of assemble I get:

[code]

Why am I getting different errors? I would expect that if grunt-assemble cannot find the source files it'll tell me before failing to build the pages.

What doe

[2016-02-10 03:04] doowb commented on #39
It looks like you have a typo in the configuration. The `layout` and `partials` properties should be inside the `options` block next to `marked`. I think there's an extra `}` someplace and grunt is trying to run it like a target... see in the output where it says `assemble:layout`... you should only see `assemble:projects` and `assemble:posts`.

[2016-03-02 09:40] c-f-h commented on #22
Any update on this? This issue makes grunt-assemble completely unusable as far as I can see and should have high priority.

[2016-04-06 07:45] spenat28 opened #41 "@key in default helper in partial is undefined"
Hi,
i have an issue with default helper **`EACH`** and undefined **`@key`** - maybe I am doing something wrong but not sure what.

I have some data file - in JSON.
Its loaded and has following structure:
[code]

I have pages and partials, its okay and working just fine on multiple projects. When i use this code in page:
[code]

It renders correctly headers with text "someKey", "otherKey". And text

[2016-04-06 14:20] doowb commented on #41
I've tested some things out:

- Using the `projects` property in a page and in a partial displays the correct data:

[code]
[code]

- Using the `projects` property only in a partial does not display the correct data

[code]
[code]

I'm not sure of the exact cause of this yet, but I labeled it as a bug so someone can take a look.

[2016-04-25 19:27] witrin commented on #35
@jonschlinkert Any news here? Would love to see an update for Grunt.

[2016-04-25 19:40] jonschlinkert commented on #35
https://github.com/assemble/grunt-assemble/pull/40

[2016-04-26 00:37] witrin commented on #35
@jonschlinkert Thanks! I've seen it already. When will you release it?

[2016-04-27 14:01] witrin commented on #35
@jonschlinkert I've used your latest develop (https://codeload.github.com/assemble/grunt-assemble/tar.gz/a824b27eba5f00797452cf03854911e50e457694) but `renderFile` in https://github.com/assemble/grunt-assemble/blob/refactor/tasks/assemble.js#L84 returns an `DestroyableTransform` with `writecb` equals `null`. The exception is obviously `Fatal error: no writecb in Transform class`. Any idea what's t

[2016-04-28 00:01] jonschlinkert commented on #35
Since assemble v0.6.0 and up can run any engine, it wouldn't make sense to add any particular engine as a dep. We should probably just remove the prompt and throw an error.

Fwiw, I personally thought the prompt was a nice experience, it worked well for me - we also do something similar with gulp and generate. But I can see how it might be hard to make it work well consistently.

In any case it's

[2016-05-27 12:15] binarykiwi opened #43 "Handlebars Partial-Block notation doesn't work"
Hi there,

is there any option to use the handlebars partial-block:
http://handlebarsjs.com/partials.html#partial-block

[code]

I want to include some other partials in a kind of wrapping partial, like this:

[code]

But when I do it like this it ends up with an error:

Is this the correct notation for the case? Or is there a plugin to handle partial-blocks? Or are there other options, wrapping a

[2016-05-27 17:33] doowb commented on #43
@binarykiwi `grunt-assemble` is currently using `handlebars 3.x`. Partial blocks were introduced in `handlebars 4.x`.

I'll look into what we can do for upgrading. If you have an example repository to test with, that would be helpful.

[2016-05-28 18:44] binarykiwi commented on #43
@doowb thanks for the information. Would be great if there could be an upgrade.
Unfortunately I have no example repo to test with as - until launch - I have to work with a private repository.
If I do have some spare time I'll set up a demo one and let you know.

[2016-07-01 06:55] cainy82 commented on #43
I would live to be able to use partial blocks also!!

[2016-07-14 13:08] ain opened #44 "asset option malfunction"
**Steps to reproduce**:
1. Add CSS file to `app/styles/main.css`
2. Create `index.hbs` with:

[code]
3. Create Gruntfile with path of `assets` and `dest` set to `app/`
4. Compile

**What happens**:  index.html comes across with

[code]

**What should happen**: valid relative path, e.g. `styles/main.css` or `./styles/main.css`.

[2016-07-18 16:08] dvera123 opened #45 "Many deprecated dependencies."
npm WARN deprecated lodash@2.2.1: lodash@<3.0.0 is no longer maintained. Upgrade to lodash@^4.0.0.
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.3.0: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated lodash@1.0.2: lodash@<3.0.0 is no longer maintained. Upgrade to

[2016-07-18 16:10] dvera123 commented on #45
Here is my assemble configuration:

// compile handlebars files into html
        assemble: {
            options: {
                flatten: true,
                data: ['<%= pkg.app %>/{pages,components,data}/**/*.json'],
                layout: 'default.hbs',
                layoutdir: '<%= pkg.app %>/layouts',
                // assets: 'dist/images',
                partials: ['<%= pkg.app %>

[2016-07-18 18:50] jonschlinkert commented on #45
pr with all tests passing would be accepted, otherwise this isn't an issue.

[2016-07-18 18:50] #45 closed

[2016-07-19 11:26] ain opened #46 "assemble-handlebars hijacks i18n"
`assemble-handlebars` version of i18n helper kills `handlebars-helper-18n` shipping with `grunt-assemble-i18n`.

Tested with 3148d66

[2016-07-19 13:39] doowb commented on #46
`handlebars-helper-i18n` is registered incorrectly [in grunt-assemble-i18n](https://github.com/assemble/grunt-assemble-i18n/blob/master/index.js#L30).

Please open an issue or submit a PR there. Thanks.

[2016-07-19 13:39] #46 closed

[2016-07-19 19:55] dvera123 opened #48 "gray-matter/graceful-fs@2.0.3 is out to date"
I'm trying to work with a clean project using this awesome generator, but there are many important deprecated warns, the graceful is on of those,

npm WARN deprecated graceful-fs@2.0.3: graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm ls graceful-fs' to find it in the tree.

This is happening because the gray-matter

[2016-07-19 20:02] jonschlinkert commented on #44
You're missing a slash in your template after `{{assets}}`

[2016-08-22 14:57] bozor opened #51 "Content blocks work in one project but not another"
Hi,

I've been having trouble getting content blocks to work a project I have inherited. I am using the latest version of `grunt-assemble`.

Here is my basic setup:

Layout - **default-sidebar.hbs**
[code]
One of the partials - **subnav-bar.hbs**
```{{#block "subnavBar"}}{{/block}}```

A page that uses that layout - **group-details.hbs**
[code]

The `content` block isn't parsed when the i run the

[2016-08-22 15:56] zukilover commented on #34
Any workaround for this? I've tried handlebars-delimiter helpers with no luck

[2016-08-22 16:24] jonschlinkert commented on #34
With grunt-assemble, not until the dev branch is published, which will have to wait until I have time to work on it unless someone wants to do a pr.

With assemble directly, this is easy, just register another engine.

[2016-08-24 15:49] ethikz opened #52 "Update? Markdown parsing not working"
Can we get an update to grunt-assemble from at least 0.6?

[2016-08-24 16:08] ethikz commented on #52
The issue I am having is trying to run markdown inside `.hbs` but doesn't render as html, just plain text.

When trying to include the markdown in an `.hbs` file it doesn't compile the md.

[code]

My assemble file for grunt is:

[code]

My package.json:

[code]

[2016-08-24 16:25] doowb commented on #52
@ethikz the current version of `grunt-assemble` is still using `handlebars-helpers@0.5.8` which includes a `markdown` helper. You don't need to use `helper-markdown` directly.

If the indentation inside your template is the same as what you posted above, then the `markdown` helper is probably reading that as a code block and putting it inside a `<pre>` tag.

Try making sure there isn't any indenta

[2016-08-24 16:35] ethikz commented on #52
@doowb Thanks for the quick response.  I tried without `helper-markdown` and it's still the same issue, it doesn't parse the `.md` inside `.hbs`

To give an example, here is my `.hbs` with correct indentation:

[code]

Everything is closed obviously

[2016-08-24 16:40] doowb commented on #52
The markdown content is indented 4 spaces in that example which would tell markdown that it's a code block. Handlebars doesn't remove indentation unless you use the whitespace control characters.

[2016-08-24 16:43] ethikz commented on #52
Ohhh so even though it is inside an element it can't be nested like html unless the whitespace control is used?

[2016-08-24 16:45] #52 closed

[2016-08-24 16:52] doowb commented on #52
Yeah, handlebars doesn't look at any of the html elements and will just use whatever string is passed in.

[2016-09-06 19:03] doowb commented on #41
@spenat28 I just published `grunt-assemble@0.5.0`. Will you get that and try it? I think that it'll fix this issue.

[2016-09-06 19:04] doowb commented on #22
`grunt-assemble@0.5.0` has been published and the `@key` and `@index` properties are working in the `{{#each}}` helper.

[2016-09-06 19:04] #22 closed

[2016-09-12 13:45] spenat28 commented on #41
@doowb great it resolved this issue. Thanks

[2016-09-12 13:45] #41 closed

[2016-10-18 08:19] yan-kisen commented on #31
I encountered this issue by appending `-SNAPSHOT` to the version in my `package.json`

Changing `"version":"1.0.0-SNAPSHOT"` to `"version":"1.0.0"` fixed the build, without needing to change any other dependencies.

Not sure if it's the same for every instance of this error, but hopefully someone else can save some time.

For reference, here are my  dependencies which are working:

[code]

[2016-10-20 16:11] AQwebDev commented on #43
I urgently need this functionality on my customers project. Is there something new on this?

[2016-10-20 17:04] doowb commented on #43
PRs are welcome.

Most likely, Handlebars just needs to be updated in [assemble-handlebars](https://github.com/assemble/assemble-handlebars).

@AQwebDev if you have an existing project using the partial block notation, then it would be really helpful if you could upgrade Handlebars and test out the changes, then submit a PR to [assemble-handlebars](https://github.com/assemble/assemble-handlebars)

[2016-10-24 17:52] jonschlinkert commented on #43
Do you want to start contributing so that you're able to fulfill on your commitments?

[2016-10-31 14:00] LaurentGoderre commented on #31
@yan-kisen YOU ARE RIGHT! It's not an option for us to change this but maybe I can look at a fix for this

/cc @masterbee

[2016-11-25 12:16] #28 closed

[2016-12-06 23:24] evil-shrike opened #53 "Stop Grunt template processing for a file"
I have a markdown page with a fenced code block which contains Grunt's template syntax (`<%=`)

[code]
Building of this page fails somewhere inside Grunt. In `grunt.config` actually. As it detects its template syntax and try to evaluate it.
It's template syntax but it's documentation not code.

All this happens before md processing and HB-helpers evaluating - I can see raw markdown content in debu

[2016-12-06 23:33] evil-shrike commented on #53
grunt-assemble 0.5
Output:
[code]
My Gruntfile is pretty big but basically it's something like this:
[code]

[2017-01-08 20:28] garethjmsaunders commented on #31
We've just encountered this error now. Our project, including the gruntfile is here: https://github.com/standrewsdigital/digital-pattern-library

Similar to yan-kisen, above, we get the error "Warning: handlebars does not support render." if we append a pre-release tag on the end of the version number.

The [package.json documentation](https://docs.npmjs.com/files/package.json) says "Version must

[2017-01-22 18:22] ToddK-QuigleySimpson opened #54 "Issue with {{aggregate}} helper"
## version
0.5.0

## description
I'm having trouble getting the information I need passed to the content being rendered by the aggregate helper, what I'm trying to do is get a variable passed in.

As I'm not a programmer all the code is based on example code from the documentation, I tried replicating the documentation using "gpl: require('source/_data/config.json')," in my grunt file to expose th

[2017-01-22 21:15] doowb commented on #54
Hi @ToddK-QuigleySimpson, try the following:

### Short answer

Use `gpl` instead of `config` in the partial front-matter:

[code]

### Long answer

The `aggregate` helper will attempt to resolve any template variables found in the partial front-matter using the entire grunt configuration object. Since you're doing `gpl: require('source/_data/config.json')` as a property on that object, it'll be a

[2017-01-23 17:53] ToddK-QuigleySimpson commented on #54
Hi,

Really appreciate  the feedback, I've run into an issue when I run the grunt command with the front matter set to either the gpl: or the data: format grunt throws an error

"Warning: An error occurred while processing a template (Cannot read property 'styleguide' of undefined). Use --force to continue."

So there might be another issue I suppose. I've attached a stripped down version of the c

[2017-01-23 18:48] doowb commented on #54
Thanks for the sample project, it helped me figure something out.

`handlebars-helper-aggregate` has `grunt` version `~0.4.1` as a dependency in it's [package.json](https://github.com/helpers/handlebars-helper-aggregate/blob/master/package.json#L28) and is doing `var grunt = require('grunt')` in the [index.js file](https://github.com/helpers/handlebars-helper-aggregate/blob/master/index.js#L16).

[2017-01-23 19:39] ToddK-QuigleySimpson commented on #54
So I rolled grunt back to v 4.5 and I'm still getting the template error, I can move my project forward without this but will leave open to keep this on the radar for a fix

[2017-01-23 19:42] doowb commented on #54
After rolling it back, did you delete the `node_modules` folder and re-install everything? I think you'll need to do that otherwise the helper will still be using a different instance thank your project.

[2017-01-23 19:49] ToddK-QuigleySimpson commented on #54
ah, ok will try that, thanks.

[2017-01-23 19:52] ToddK-QuigleySimpson commented on #54
And that fixes it, thank you for all the help!

[2017-01-23 19:52] #54 closed

[2017-01-28 17:49] nessthehero opened #56 "When looping through tag collection, how to render partial?"
I have a directory of partials with subdirectories, and they are all tagged with `section: true`.

Using the following loop:

[code]

how can I output the rendered result of each partial into the loop?

The loop is working, but if I just do `{{page}}`, it doesn't parse anything in the partial, and just outputs it as-is with all the raw markup and helpers still there.

Is there something I'm missin

[2017-01-30 11:16] nessthehero commented on #56
I was able to fix my issue by creating a custom helper.

[code]

And I modified the collection loop like so:

[code]

It's still a bit strange that I need to do this but hopefully this will help other people.

[2017-02-17 07:19] NNemec commented on #31
I had the same problem. Turns out, the top-level project did not have any "version" field in the package.json file. Adding this field fixes the issue. Is is not sufficient for the field to exist, but it has actually contain a proper semver value.

The specs for package.json actually request this field and the correct formatting, so the best fix for this issue would be to add a check in grunt-assem

[2017-02-22 07:50] NNemec commented on #48
I see the same problem as soon as I do 'npm install grunt-assemble', pulling in 0.5.0 which depends on the outdated "gray-matter": "^0.4.2"
This triggers the aforementioned warning, independent of the version of assemble or any assemblefile.js in use.
The simple solution would be to update the dependency on gray-matter

[2017-03-02 18:07] cubodehelio commented on #31
I had the same problem. It seems that the cause was that I put a version like the following in my `package.json`:

[code]

When i changed to `1.0.0` the problem disappeared.

[2017-03-03 13:52] LaurentGoderre commented on #31
@jonschlinkert @doowb I was able to create a fix for this by extarcting the single method used in the `to` package but then realized that you don't even use the package in the latest version. However there seem to be an issue that this project doesn't install handlebars-helpers past 0.5.8. Any idea why that is?

[2017-03-06 14:19] LaurentGoderre opened #57 "Adding a property title in the front matter creates very weird behavior"
In some page with a property title in the front matter, it causes the page to not render the page. What is even weirder is that in the output, it says it rendered other pages twice.

I have
[code]

Outputs
[code]

[2017-03-06 14:34] jonschlinkert commented on #57
When you remove the front-matter, does it still happen? You gave very little detail in the description, we will need a lot more information to debug.

at least the following would help:

- snippet of the offending front-matter
- build configuration

[2017-03-06 14:38] LaurentGoderre commented on #57
When I remove just the title attribute then it works. I am debugging now.

[2017-03-06 14:47] LaurentGoderre commented on #57
It seems async forEach is calling the callback on items that have already been processed.....

[2017-03-06 15:06] LaurentGoderre commented on #57
@jonschlinkert I can reliably fix it by copying the pages collection before processing it.

[2017-03-06 16:06] jonschlinkert commented on #57
Ah, `withSort` has caused a lot of issues.

Fwiw, I spent more time on updating grunt-assemble to use the latest version of assemble this past weekend. Once I get that wrapped up you will be able to use the newer helpers (you might be able to now, sorry I don't remember how easy that is to do since the only work I've done with grunt-assemble recently is on the dev branch). Until then, I might need

[2017-03-06 16:10] #57 closed

[2017-03-15 16:26] #31 closed

[2017-03-16 11:11] rejas opened #59 ""Missing helper: "md"" after update to v0.6.0"
Used the latest version of assemble and grunt-assemble for my private prohject, but after updating grunt-assemble from v0.5.0 to v0.6.0 I get this error when running it:

Running "assemble:pages" (assemble) task
Assembling tmp/travel_01_aus.html OK
Assembling tmp/blog.html ERROR
Warning: Missing helper: "md" Use --force to continue.

Aborted due to warnings.

What has changed that needs to be acco

[2017-03-16 11:13] rejas commented on #59
assemble: {
            pages: {
                options: {
                    flatten: true,
                    layout: '<%= dir.assemble %>/layouts/default.hbs',
                    data: '<%= dir.assemble %>/data/*.{json,yml}',
                    partials: '<%= dir.assemble %>/partials/*.hbs'
                },
                files: {
                    '<%= dir.tmp %>/': ['<%= dir.assembl

[2017-03-16 14:08] doowb commented on #59
Hi @rejas I anticipated there being issues and this is one of them. Check out the [migration](https://github.com/assemble/grunt-assemble#breaking-changes-between-versions-050-and-060) section in the readme that addresses missing "md" and "markdown" helpers.

There's a code snippet that you can put in `<%= dir.assemble %>/helpers/markdown.js`, then update the assemble config in your Gruntfile.js to

[2017-03-16 14:24] rejas commented on #59
Thx, that worked flawlessly. Sorry for not looking at the migration guide first :-(

[2017-03-16 14:24] #59 closed

[2017-03-16 14:58] doowb commented on #59
No problem. If you run into any other issues with migrating, please open an issue so we can fix it, find a workaround, or update the migration section.

[2017-03-18 02:23] doowb commented on #18
Sounds like this was resolved, I'm going to close but please feel free to reopen or create a new issue if:
- the bug is still happening
- you're still having problems

[2017-03-18 02:23] #18 closed

[2017-03-18 02:29] doowb commented on #43
`grunt-assemble@0.6.0` has been published using `handlebars@4.0.0`so this should be resolved, I'm going to close but please feel free to reopen or create a new issue if:
- the bug is still happening
- you're still having problems

[2017-03-18 02:29] #43 closed

[2017-03-18 02:33] doowb commented on #39
Closing due to age and no response from OP. If you're still having an issue, please feel free to reopen with more details.

[2017-03-18 02:33] #39 closed

[2017-03-28 16:19] NNemec commented on #48
unchanged for grunt-assemble 0.6.3
gray-matter is currently at 2.1.1 -- no idea whether there are breaking changes that might cause effort in updating

[2017-03-28 17:14] doowb commented on #48
Thanks @NNemec for pointing this out. We've been updating some of the dependencies in `grunt-assemble` so I'll take a look at this and see if we can update it without too much effort. We're also working on refactoring `grunt-assemble` to use `assemble` internally, which will also take care of these dependency issues.

[2017-03-28 17:18] NNemec commented on #48
A quick test revealed that several outdated dependencies are pulled in via grunt-verb, which seems not to have been touched in 2 years. Not sure whether that dependency can be avoided or updated?

[2017-04-28 13:01] ain commented on #44
@jonschlinkert I'm calling to reopen this ticket. As described, the configuration had the slash:

[code]

[2017-04-28 13:32] ain commented on #44
This worked in `assemble 0.4.36`.

[2017-04-28 13:48] ain commented on #44
I was able to resolve the issue by duplicating the assets path!

[code]

This pretty much reproduces the issue. I'm reopening the ticket.

[2017-04-28 21:18] jonschlinkert commented on #44
We can look into this, but it seems more likely that something is wrong in your config or templates, otherwise we would have gotten other issues about this by now.

Or maybe there is a bug with some combination of things that isn't common?

Can you provide the minimum necessary setup for us to reproduce the bug?

[2017-05-04 14:20] elpeq commented on #31
Thanks @yan-kisen, removing -SNAPSHOT in the version fixed my problem :-)

[2017-05-04 14:32] LaurentGoderre commented on #31
@elpeq if you update to the latest version, you don't need to remove your -input anymore.

[2017-05-18 17:40] judah-firewood opened #60 "Allow unescape &nbsp;"
Is there a way to allow unescape of &nbsp; rather than having it convert to a space (" ") on build?

I've tried the handlebars method of using triple-brackets, to no avail.

Thanks either way. Great tool!

[2017-05-18 19:26] doowb commented on #60
Please provide a code example of where you're using `&nbsp;`. Also, does this working when using handlebars directly?

[2017-05-18 19:30] jonschlinkert commented on #60
sounds like something either HTML related or handlebars safestring

[2017-05-22 20:07] lukebussey opened #61 "Markdown issues"
I've been using `grunt-assemble@0.5.0` for a while now with the markdown helper, but since upgrading to `0.6.3` and following the instructions in the readme for fixing the markdown helpers, they are only working when the markdown content isn't passed in via a variable. E.g.

[code]

[code]
It seems what ever I try, I can't get markdown to work if the source is coming from a variable. The first exa

[2017-05-22 20:30] doowb commented on #61
Hi @lukebussey, will you post your `helpers.js` file (from what's specified in the migration section) and your assemble config for the helpers.

This is probably either a configuration issue or a change in `helper-markdown`.

[2017-05-22 21:29] lukebussey commented on #61
Here you go:

Helper:
[code]
Gruntfile.js
[code]

devDependencies:
[code]

[2017-05-22 22:54] doowb commented on #61
Thanks. This is a bug in [helper-markdown](https://github.com/helpers/helper-markdown).
Will you open an issue there and link to it from here?

[2017-05-23 01:08] doowb commented on #61
Closing since this was fixed in `helper-markdown`.

[2017-05-23 01:08] #61 closed

[2017-06-22 16:44] doowb commented on #56
Sorry for the delay in responding. Sounds like this was resolved, I'm going to close but please feel free to reopen or create a new issue if you're still having problems.

I think this is the right way to go since you're basically adding raw content into the page. This is similar to how partials work in handlebars except they're compiled beforehand.

[2017-06-22 16:44] #56 closed

[2017-11-23 11:00] lawlesscreation opened #62 "Escaping a partial"
I'm trying out a few tools for creating a style guide and Assemble seems to fit the bill but I'm stumbling when trying to implement a key feature. I want to be able include a partial twice with the second one escapes - similar to how Twitter bootstrap and other styleguide document code:

[code]

[code]

After scouring Google for Assemble/Handlebars mentions of how to escape a partial, I'm still no

[2017-11-23 15:25] doowb commented on #62
The last example should work. Could you post the assemble part of your grunt config and let us know if you're using any other helpers or plugins?

In an older version of `grunt-assemble` we used to render the body then render the layout using the body as a partial but we doing do that anymore. There might be something else rendering the page twice causing the escaped partial to render on the secon

[2017-11-24 09:20] lawlesscreation commented on #62
@doowb, thanks for the reply. For me, the last example simple renders the the handlebars expression `\{{> alert modifier="warning" }}`. I'm not using any helpers or plugins so it's fairly minimal config:

[code]

[code]

[2017-11-28 08:05] lawlesscreation commented on #62
Sadly, I've still not been able to work this one out. I'll try to create a demo repo on GitHub and link to it.

[2017-11-28 14:15] doowb commented on #62
@lawlesscreation I was traveling and missed your first response... I'll take a closer look today. A demo repo will help a lot, thanks!

[2017-11-28 19:47] lawlesscreation commented on #62
Here's a demo of the problem:

[https://github.com/lawlesscreation/grunt-assemble-demo](https://github.com/lawlesscreation/grunt-assemble-demo)

Rendered output:
[code]
Running on Node v6.11.3

[2017-11-29 01:45] doowb commented on #62
@lawlesscreation I think I misunderstood what you're trying to accomplish. I thought that you wanted the result to be `{{> alert modifiers="warning"}}`.

Now that I've looked over it again, I think that you want the html contents of the rendered partial.
If this is the case, then you can use the `{{#markdown}}` helper and wrap the contents in backticks:

[code]

This produces the following:

[code

[2017-11-29 11:15] lawlesscreation commented on #62
Thanks @doowb! that works great!

Looking at your solution reminded me that originally I had tried to use markdown for the pages instead of handlebars (it would be a lot easier to write documentation in MD). The problem was that when I included a `.hbs` partial inside a `.md` page, it seemed to break when there was whitespace between elements in the partial. Here's a quick demo (https://github.com

[2017-12-05 13:40] lawlesscreation commented on #62
I've not found a better way to do this yet but it still feels a little hacky. Is there a better way to use handlebars partials inside a `.md` file?

[2017-12-05 18:29] doowb commented on #62
@lawlesscreation I thought I responded to this the other day...

I haven't had a chance to look into it more, but you should be able to do what you were trying in the original `markdown-demo` branch. If there is an issue with it breaking on whitespace, it might be indentation related since markdown expects different indentations in specific situations. For example, if something ends up being inden

[2018-08-21 17:06] StevenTew opened #63 "{{#markdown}}{{embeb [file]}}{{/markdown}} not working."
Hi,

Markdown is not outputting my embedded code correctly:
![image](https://user-images.githubusercontent.com/1876163/44416542-0c39d300-a56b-11e8-9804-30eb465412b1.png)

This is what I have in my `demo-figure.hbs` page:
[code]

It worked in assemble 0.4.42, but doesn't work grunt-assemble 0.6.3:
[code]
my package.json:
[code]

[2018-09-12 08:33] maekke97 opened #64 "grunt-assemble withSort stops working"
Hi,
I'm not sure if this is the correct place to post this, please redirect me if I'm wrong.
We have a grunt setup to create our api documentation (http://api.meteomatics.com).
The main content pages have a handlebar header as follows:
[code]
Our news blog entries like so:
[code]

Then we build our navbar using `#withSort`:
[code]
(I removed some content to make the example smaller)
This works all

[2018-09-12 13:13] doowb commented on #64
One thing that I noticed is that in the yaml frontmatter the property is `sortOrder` (with a capital O) but the template uses `data.sortorder` (with a lowercase o). Since you say that this works up to 41 items, then I'm assuming that may have been a typo in the issue.

If it was a typo and that's not causing an issue, I'm not exactly sure what might be going on. It would help if you could share th

[2018-09-12 14:05] maekke97 commented on #64
Hi, thanks for looking into this.
It actually is a typo that has no effect. (I just checked that it does not matter if you have )

I'm not able to share the repo, as it lies on our privat company server, sorry.
What I can share: (please let me know if you need more infos)
[code]
The project structure:
[code]
Gruntfile.js:
[code]
Grunt assembles all without error. The result with only 9 news blog f

[2018-09-12 14:28] doowb commented on #64
Thanks for the additional information, I'll try to look at this soon.

[2018-09-14 19:49] ChadRidings opened #65 "lodash and minimatch vulnerabilities"
Dependencies need to be updated.  See the following when running an audit...

**High:**  Regular Expression Denial of Service
**Package:**  minimatch
**Patched in:**  >=3.0.2
**Dependency of:**  grunt-assemble [dev]
**Paths:**
- grunt-assemble
- gray-matter > fs-utils > globule > glob > minimatch
- grunt-assemble > gray-matter > fs-utils > globule > minimatch
- grunt-assemble > resolve-dep > cwd >

[2018-09-14 19:53] ChadRidings commented on #48
Seems that nobody cares anymore.

[2019-11-25 20:10] liliansousa opened #68 "Warning: flatten is not a function"
Using assemble with multiple subtasks is returning an issue with a dependency

Running "assemble:localhost" (assemble) task
Warning: flatten is not a function Use --force to continue.

Users that installed it and the lock is  array-flatten - version: 3.0.0 is not working but the assemble subtasks are working with the old one "version": "2.1.2",

[code]

------------

[code]

[2019-12-04 14:12] stanislavmatsel commented on #68
I have the same problem: Warning: flatten is not a function Use --force to continue
I opened on StackOverflow:

https://stackoverflow.com/questions/59155976/warning-flatten-is-not-a-function-use-force-to-continue

I noticed that if I downgrade grunt-assemble from 0.6.0 to 0.4.0 this issue disappears. May be somebody has a fix for this problem?

[2019-12-04 15:37] doowb commented on #68
@liliansousa thank you for the issue. I started looking into this last week but didn't finish fixing it due to Thanksgiving. I think I have a fix and will try to get it pushed up soon. Your comment about the versions in the lock file helped.

[2019-12-04 16:07] doowb commented on #68
@liliansousa and @StanislavMachel please try getting the latest modules and running your build now. I patched a dependency to ensure the correct version of `array-flatten` will be used so you might have to delete lock files and clear npm cache.

[2019-12-05 07:09] stanislavmatsel commented on #68
@doowb Thanks! Now all works properly.

[2019-12-05 15:06] doowb commented on #68
Thanks for verifying! I'm going to close this issue now, but @liliansousa if you still have an issue, please let me know so I can look into it further.

[2019-12-05 15:06] #68 closed, assigned to nobody

[2020-08-27 11:32] therealshark commented on #65
Is this project dead? Those dependencies with security issues are unfixed since two years.

[2020-09-10 13:44] olegmeglin commented on #65
I would be interested in that too. Currently `grunt-assemble` has 30+ vulnerabilities. Will this be fixed one happy day?

[2020-12-14 12:35] pravinweb opened #70 "Will upgrade in handlebars cause any issues with current grunt assemble module"
Dear team,

Below is my package json of project

[code]

I want to upgrade handlebars to latest one - `4.7.6` in this case do I need to upgrade `"grunt-assemble": "^0.5.0"` package as well to `"grunt-assemble": "^0.6.3"` ? or would it be fine if I keep `"grunt-assemble": "^0.5.0"` as it is ?

Note: I am using npm-shrinkwrap.json to manage versions

[2021-01-20 01:23] kdekooter commented on #70
`grunt-assemble:0.6.3` uses `assemble-handlebars:0.4.1` which uses `"handlebars": "^4.0.6"`.

Maybe 4.0.6 is enough of a bump up for you? In that case an upgrade to grunt-assemble:0.6.3 would be sufficient.

[2021-01-20 22:10] arnydo opened #71 "Markdown rendered as text"
Hello,

Recently implemented assemble in a project and I have `{{md "content.md"}}` being pulled into index.html with grunt-assemble.

The markdown is rendered as HTML but appears to be plain-text. The rendered HTML is enclosed with quotes.

I have added the "markdown.js" helper as shown in the docs with no success.

Thank you.

[2021-01-20 22:11] arnydo commented on #71
The version of assemble you are using. **0.6.3**
Your assemblefile.js (This can be in a gist)
The commandline output. (Screenshot or gist is fine) **Everything completes successfully**
What you expected to happen instead. **Markdown to be rendered as HTML**